.formulario{
	
	position:relative;
	width: 500px;
	height: 600px;
	padding-left:20px;
	padding-top: 15px;
	border: 1px solid #ccc;
	border-radius: 20px;

	box-shadow: 3px 3px 3px 3px  #ccc;
	margin: auto;
	margin-bottom: 100px;
}



input[type=text],[type=email]{

	width: 470px;
	height: 35px;
	font:14px normal normal uppercase helvetica, arial, serif;

}

textarea{
	width: 470px;
	height: 110px;

}

input[type=submit]{
	position: relative;
	width: 150px;
	height: 40px;
	border-radius: 20px;
	margin-left: 150px;
	border:0px;
	background-color: grey;
	cursor: pointer;

}

.ir  {

	
	margin-left: 250px;

	text-decoration: none;

	color: black;
	font-size: 20px;


}